@using AdminControl.Models
@model NewsViewModel
@{
    ViewBag.Title = "EditNews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    @Styles.Render("~/Content/summernote")
}

<div class="content">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="hpanel hgreen">
                <div class="panel-heading hbuilt">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    Edit News 
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("EditNews", "News", FormMethod.Post))
                    {
                        <label class="control-label">Title</label>
                        @Html.TextBoxFor(n => n.title, new { @class = "form-control" })
                        <br />
                        <label class="control-label">Content</label>
                        <div id="editor">
                            @Html.TextAreaFor(n => n.content, new
                       {
                           @class = "form-control"
                       })
                        </div>
                        <div id="img">
                            <label class="control-label">Thumbnail Image</label>
                            @Html.TextAreaFor(n => n.imageUrl, new { @class = "form-control" })
                        </div>
                        <br />
                        <br />
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-block btn-lg btn-success">SUBMIT</button>
                        </div>
                        <div class="col-md-6">
                            <a href="@Url.Action("NewsList", "News")" class="btn-block btn btn-lg btn-info">COME BACK</a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/Scripts/summernote",
                    "~/Scripts/convert.js", "~/Scripts/convert2.js")
}