@using AdminControl.Models
@model List<NewsViewModel>
@{
    ViewBag.Title = "NewsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content animate-panel">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <div class="hpanel">
                <div class="v-timeline vertical-container animate-panel" data-child="vertical-timeline-block" data-delay="1">
                    @foreach (NewsViewModel n in Model)
                    {
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-calendar"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <span class="vertical-date pull-right"> @n.createdAt</span>

                                    <h2>@n.title</h2>
                                    <p>
                                        @Html.Raw(n.content)
                                    </p>
                                    
                                </div>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-xs-6"></div>
                                        <div class="col-xs-3">
                                            <a href="@Url.Action("EditNews", "News", new { id = n.newsId })" class="btn btn-block btn-info btn-sm"><i class="fa fa-edit"></i>&nbsp;EDIT</a>
                                        </div>
                                        <div class="col-xs-3">
                                            <a href="@Url.Action("DeleteNews", "News", new { id = n.newsId })" class="btn btn-block btn-danger btn-sm"><i class="fa fa-trash"></i>&nbsp;Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
        <div class="col-md-2"></div>
    </div>
</div>