@using AdminControl.Models
@model List<NewsViewModel>
@{
    ViewBag.Title = "NewsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content animate-panel">
    @if (Model.Count > 3)
    {
        for (int i = 0; i < Model.Count; i = i + 3)
        {
            if (i % 3 == 0)
            {
                <div class="row">
                    <div class="col-lg-4">
                        <div class="hpanel hgreen">
                            <div class="panel-heading hbuilt">
                                <div class="panel-tools">
                                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                    <a class="closebox"><i class="fa fa-times"></i></a>
                                </div>
                                @Model[i].title
                            </div>
                            <div class="panel-body">
                                    @Html.Raw(@Model[i].content)
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a href="@Url.Action("EditNews", "News", new { Model[i].newsId })" class="btn btn-block btn-success btn-sm"><i class="fa fa-edit"></i>&nbsp;EDIT</a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="@Url.Action("DeleteNews", "News", new { Model[i].newsId })" class="btn btn-block btn-danger btn-sm"><i class="fa fa-trash"></i>&nbsp;Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="hpanel horange">
                            <div class="panel-heading hbuilt">
                                <div class="panel-tools">
                                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                    <a class="closebox"><i class="fa fa-times"></i></a>
                                </div>
                                @Model[i + 1].title
                            </div>
                            <div class="panel-body">
                           
                                    @Html.Raw(@Model[i + 1].content)
                       
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a href="@Url.Action("EditNews", "News", new { Model[i + 1].newsId })" class="btn btn-block btn-success btn-sm"><i class="fa fa-edit"></i>&nbsp;EDIT</a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="@Url.Action("DeleteNews", "News", new { Model[i + 1].newsId })" class="btn btn-block btn-danger btn-sm"><i class="fa fa-trash"></i>&nbsp;Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="hpanel hred">
                            <div class="panel-heading hbuilt">
                                <div class="panel-tools">
                                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                    <a class="closebox"><i class="fa fa-times"></i></a>
                                </div>
                                @Model[i + 2].title
                            </div>
                            <div class="panel-body">
                         
                                    @Html.Raw(@Model[i + 2].content)
                   
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a href="@Url.Action("EditNews", "News", new { Model[i + 2].newsId })" class="btn btn-block btn-success btn-sm"><i class="fa fa-edit"></i>&nbsp;EDIT</a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="@Url.Action("DeleteNews", "News", new { Model[i + 2].newsId })" class="btn btn-block btn-danger btn-sm"><i class="fa fa-trash"></i>&nbsp;Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
    else
    {
        for (int i = 0; i < Model.Count; i++)
        {
            <div class="row">
                <div class="col-lg-4">
                    <div class="hpanel hgreen">
                        <div class="panel-heading hbuilt">
                            <div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                <a class="closebox"><i class="fa fa-times"></i></a>
                            </div>
                            @Model[i].title
                        </div>
                        <div class="panel-body">
            
                                @Html.Raw(@Model[i].content)

                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-6">
                                    <a href="@Url.Action("EditNews", "News", new { Model[i].newsId })" class="btn btn-block btn-success btn-sm"><i class="fa fa-edit"></i>&nbsp;EDIT</a>
                                </div>
                                <div class="col-xs-6">
                                    <a href="@Url.Action("DeleteNews", "News", new { Model[i].newsId })" class="btn btn-block btn-danger btn-sm"><i class="fa fa-trash"></i>&nbsp;Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
